<div class="hotline-strip">
  Tổng đài: <strong>0363 636 3636</strong>
</div>

<footer class="site-footer">
  <div class="container footer-grid">
        <div class="footer-col">
      <img src="assets/logo.png" alt="Logo bệnh viện" class="brand-logo-footer" />
      <div class="brand-text">
        <div class="brand-name">Bệnh viện Ánh Dương</div>
      </div>
      <p></p>
      <p>Địa chỉ: Số 01 Đại Cồ Việt, Hai Bà Trưng, Hà Nội</p>
      <p>Email: contact@sunshinehospital.vn</p>
      <p>Điện thoại: 0363 636 3636</p>
      <p class="footer-copy">© 2025 Bệnh viện Ánh Dương. All rights reserved.</p>
    </div>

    <div class="footer-col">
      <h4>Liên kết</h4>
      <ul>
        <li><a href="#" data-nav="doi-ngu-bac-si.html">Đội ngũ bác sĩ</a></li>
        <li><a href="#" data-nav="dat-lich-kham.html">Đặt lịch khám</a></li>
        <li><a href="#" data-nav="tin-tuc.html">Tin tức</a></li>
      </ul>
    </div>

    <div class="footer-col">
      <h4>Tiện ích</h4>
      <ul>
        <li><a href="https://baohiemxahoi.gov.vn/tracuu/Pages/tra-cuu-thoi-han-su-dung-the-bhyt.aspx" target="_blank" rel="noreferrer">Tra cứu BHYT</a></li>
        <li><a href="#" data-nav="ket-qua-xet-nghiem.html">Kết quả xét nghiệm</a></li>
      </ul>
    </div>

    <div class="footer-col">
      <h4>Kết nối</h4>
      <ul>
        <li><a href="https://www.facebook.com/profile.php?id=61584536879830&" target="_blank" rel="noreferrer">Facebook</a></li>
      </ul>
    </div>
  </div>
</footer>


