<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tin tức Y tế - Bệnh viện Ánh Dương</title>
  <link rel="stylesheet" href="../css/style-tin-tuc.css" />
</head>
<body>
  <div data-include="header.html"></div>

  <main class="container news-page">
    <header class="news-head">
      <div>
        <h1>Tin tức nổi bật</h1>
      </div>
    </header>

    <section class="news-list" id = "news-list">
      
      <!-- <article class="news-card" id="tin-1">
        <h2><a href="tin-1.html">Bộ Y tế xây dựng gói dịch vụ y tế cơ bản thuộc phạm vi miễn viện phí</a></h2>
        <p class="news-meta">01/12/2025</p>
        <p class="news-desc">Chủ trương tiến tới miễn viện phí nhằm bảo đảm quyền được chăm sóc sức khỏe.</p>
      </article> -->


    </section>
  </main>

  <div data-include="footer.html"></div>

  <script src="../js/app-tin-tuc.js"></script>
  <script src="include.js"></script>
</body>
</html>
